html, body {
    height: 100%;
    weight: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

.navbar-default .navbar-nav li a{
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{
color: #FFF;
}


#home{
    background: url(../img/mountains.jpeg) no-repeat center center fixed;
    display : table;
    height: 50%;
    width: 100%;
    position: relative;
    background-size: cover;
}



.padding{
    padding: 80px 0;
    padding-right: 25px;
    padding-left: 25px;
}

.padding img{
    width: 100;
}

#fixed {
    background: url(../img/background.jpg) no-repeat center center fixed;
    display : table;
    height: 40%;
    width: 100%;
    position: relative;
    background-size: cover;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#timelinepresent{
    height: 50%;
    width: 100%;
    display : table;
    position: relative;
    background-size: cover;
    text-align: center;
    /*background-color:#282828 !important;*/
    position: relative;
}

.section {
  background: #282828;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100%;
  padding: 250px 0;
  transition: all 1s;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* Line */
.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #00172D;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 3px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #850814;
}

.timeline ol li div {
  position: absolute;
  left: calc(10% + 3px);
  width: 300px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
}

/* Odd Top Space */
.timeline ol li:nth-child(odd) div {
  top: -5px;
  transform: translateY(-100%);
}


/* Odd Top Space */
.timeline ol li:nth-child(even) div {
top: +5px
transform: translateY(+100%);
}


/*
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;

}

.timeline ol li:nth-child(even) div {
  top: calc(10% + 0px);
}




.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #7b7b7b;
}
*/


.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}


/* ________________ Skill Cards __________________ */



@media (max-width: 576px) {
  .xs {color:red;font-weight:bold;}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {
  .sm {color:red;font-weight:bold;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {
 .md {color:red;font-weight:bold;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
 .lg {color:red;font-weight:bold;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .xl {color:red;font-weight:bold;}
}

.card-img-top {
    width: 50%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

#skills{
text-align: center;
}

.card-body {
    flex: 1 1 auto;
    padding: 0;
}

.card-title {
    /* margin-bottom: .75rem; */
}
