{% extends "base.html" %}
{% block title %} Anmol Chawla Portfolio {% endblock %}
{%block content%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/home.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="home">
    <div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{url_for('static', filename='img/anmol.png')}}">
            </div>
            <div class="col-sm-6 text-center">
            <h1>My Data Science Skills include
              <span
                 class="txt-rotate"
                 data-period="2000"
                 data-rotate='[ "Machine Learning", "Data Analytics and Visualizations", "DevOps", "Cloud Computing", "Data Management", "WebDev" ]'></span>
            </h1>
            </div>
        </div>
    </div>
</div>
</div>


<div class="padding">
<div class="container" id="timelinepresent">
            <section class="timeline">
              <ol>
                <li>
                  <div>
                    <time><a href="https://www.sitpune.edu.in/" target="_blank"><img src="{{url_for('static', filename='img/symbi.png')}}" style="float:left"></a>Mar'12-Apr'16</time>  Graduated with a B.tech, where I took courses in Artificial Intelligence and Data Structures & Algorithms. Also headed the Robotics club and Technical Festival.
                  </div>
                </li>
                <li>
                  <div>
                    <time><a href="https://www.tatamotors.com/" target="_blank"><img src="{{url_for('static', filename='img/tml.png')}}" style="float:left"></a>Jul'15 – Dec'15</time> Worked as a Product Analyst intern in the infotainment division. Launched Android & IOS in car analytics application.
                  </div>
                </li>
                <li>
                  <div>
                    <time><a href="https://www.gi-de.com/en/" target="_blank"><img src="{{url_for('static', filename='img/GD.png')}}" style="float:left"></a>Jul'16 – Dec'16</time> Worked as a Software Engineer in the embedded system Operating System division. Launched 2016 complaint SIM cards.
                  </div>
                </li>
                <li>
                  <div>
                    <time><a href="https://www.usc.edu/" target="_blank"><img src="{{url_for('static', filename='img/usc.png')}}" style="float:left"></a>Aug'17 - May'19</time> Graduated with a Joint's Masters in Data Science and Management. In Dean's honour list. Studied Machine Learning, Data - Mining, visualization and management.
                  </div>
                </li>
                <li>
                  <div>
                    <time><a href="https://imsc.usc.edu/" target="_blank"><img src="{{url_for('static', filename='img/lab.png')}}" style="float:left"></a>Dec'18 - May'19</time> Researcher at the renowned IMSC lab. Worked as a Program manager. Created ETL process's and ML solutions.
                  </div>
                </li>
                <li>
                  <div>
                    <time><a href="https://www.servicetitan.com/" target="_blank"><img src="{{url_for('static', filename='img/st.png')}}" style="float:left"></a>Jul'19 - Jun'20</time> Worked as Data Scientist at Forbe's top listed startup. Developed Machine Learning, Data reporting and Statistical solutions.
                  </div>
                </li>
                <li>
                  <div>
                    <time><a href="https://www.carparts.com/" target="_blank"><img src="{{url_for('static', filename='img/cp.png')}}" style="float:left"></a>Jul'20 - Present</time> Working as a Data Scientist in the ecommerce domain. Developed automated reporting solutions and cost optimization solutions.
                  </div>
                </li>
                  <li></li>
              </ol>
            </section>
</div>
</div>
<div id="fixed">
<div class="padding">
<div id="skills" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <div class="col mb-4">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Python</h5>
    </div>
    </div>
    <img src="{{url_for('static', filename='img/python.png')}}"  class="card-img-top" alt="...">
  </div>

  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SQL</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/sql.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Excel</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/excel.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">R</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/r.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MatLab</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/matlab.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">AWS</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/aws.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Azure</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/azure.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Redshift</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/redshift.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">MongoDb</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/mongodb.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hadoop</h5>
      </div>
    </div>
      <img src="{{url_for('static', filename='img/hadoop.png')}}" class="card-img-top" alt="...">
  </div>
</div>
<div id="skills" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <div class="col mb-4">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Scala</h5>
    </div>
    </div>
    <img src="{{url_for('static', filename='img/scala.png')}}"  class="card-img-top" alt="...">
  </div>

  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Spark</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/spark.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Flask</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/flask.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sci-kit</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/scikit.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Docker</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/docker.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A/B Testing</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/abtest.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tableau</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/tableau.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NLP</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/nlp.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">D3.js</h5>
      </div>
    </div>
    <img src="{{url_for('static', filename='img/d3.png')}}" class="card-img-top" alt="...">
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SPSS</h5>
      </div>
    </div>
      <img src="{{url_for('static', filename='img/spss.png')}}" class="card-img-top" alt="...">
  </div>
</div>
</div>
</div>
<div class="padding">
<div class="container">
        <div class="row">
            <div class="col-sm-10">
                <h4>About Me</h4>
                <p>After graduating from USC with a joint Master's in Data Science and Communication Management, I got the opportunity to join one the fastest growing startup. I absolutely love wrangling data, generating insights and building
                  models. Having had formal education in communication management and working in a fast paced startup, I have gained a valuable skill. The art of breaking down complex analysis and solutions for the non-technical stakeholder.
                  In my free time , I like to run, ski and travel.
                </p>
            </div>
        </div>
</div>
</div>


<script src="{{url_for('static', filename='javascript/home.js')}}"></script>
</body>
</html>
{% endblock %}